@import url(./theme.css);

html,
body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface);
}

.form-control {
	background-color: var(--md-sys-color-surface) !important;
	border-color: var(--md-sys-color-outline);
	transition: 200ms;
	border-width: 2px;
	color: var(--md-sys-color-on-surface) !important;
}

.form-control:focus {
	border-color: var(--md-sys-color-primary);
}

.btn {
	width: fit-content;
	background-color: var(--md-sys-color-primary) !important;
	color: var(--md-sys-color-on-primary) !important;
	border-radius: 100px;
	border-width: 0px;
	padding: 8px 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn:hover {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.form-switch .form-check-input,
.form-switch .form-check-input:focus,
.form-switch .form-check-input:checked {
	outline: 0;
	box-shadow: none;
	height: 24px;
	width: 48px;
	border: 4px solid var(--md-sys-color-primary);
	background-color: var(--md-sys-color-primary);
	background-image: url(./assets/circle.svg);
}

.container,
.d-flex {
	height: 100vh;
}