* {
	--md-sys-color-primary-light: #256c28;
	--md-sys-color-on-primary-light: #ffffff;
	--md-sys-color-primary-container-light: #a9f5a1;
	--md-sys-color-on-primary-container-light: #002203;
	--md-sys-color-secondary-light: #53634f;
	--md-sys-color-on-secondary-light: #ffffff;
	--md-sys-color-secondary-container-light: #d6e8ce;
	--md-sys-color-on-secondary-container-light: #111f0f;
	--md-sys-color-tertiary-light: #38656a;
	--md-sys-color-on-tertiary-light: #ffffff;
	--md-sys-color-tertiary-container-light: #bcebf0;
	--md-sys-color-on-tertiary-container-light: #002022;
	--md-sys-color-error-light: #ba1a1a;
	--md-sys-color-on-error-light: #ffffff;
	--md-sys-color-error-container-light: #ffdad6;
	--md-sys-color-on-error-container-light: #410002;
	--md-sys-color-outline-light: #72796f;
	--md-sys-color-background-light: #fcfdf6;
	--md-sys-color-on-background-light: #1a1c19;
	--md-sys-color-surface-light: #fcfdf6;
	--md-sys-color-on-surface-light: #1a1c19;
	--md-sys-color-surface-variant-light: #dee5d8;
	--md-sys-color-on-surface-variant-light: #424940;
	--md-sys-color-inverse-surface-light: #2f312d;
	--md-sys-color-inverse-on-surface-light: #f1f1eb;
	--md-sys-color-primary-dark: #8ed887;
	--md-sys-color-on-primary-dark: #003909;
	--md-sys-color-primary-container-dark: #035312;
	--md-sys-color-on-primary-container-dark: #a9f5a1;
	--md-sys-color-secondary-dark: #baccb3;
	--md-sys-color-on-secondary-dark: #253423;
	--md-sys-color-secondary-container-dark: #3b4b38;
	--md-sys-color-on-secondary-container-dark: #d6e8ce;
	--md-sys-color-tertiary-dark: #a0cfd4;
	--md-sys-color-on-tertiary-dark: #00363b;
	--md-sys-color-tertiary-container-dark: #1e4d52;
	--md-sys-color-on-tertiary-container-dark: #bcebf0;
	--md-sys-color-error-dark: #ffb4ab;
	--md-sys-color-on-error-dark: #690005;
	--md-sys-color-error-container-dark: #93000a;
	--md-sys-color-on-error-container-dark: #ffdad6;
	--md-sys-color-outline-dark: #8c9388;
	--md-sys-color-background-dark: #1a1c19;
	--md-sys-color-on-background-dark: #e2e3dd;
	--md-sys-color-surface-dark: #1a1c19;
	--md-sys-color-on-surface-dark: #e2e3dd;
	--md-sys-color-surface-variant-dark: #424940;
	--md-sys-color-on-surface-variant-dark: #c2c8bd;
	--md-sys-color-inverse-surface-dark: #e2e3dd;
	--md-sys-color-inverse-on-surface-dark: #1a1c19;
}

.dark-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-dark);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
	--md-sys-color-secondary: var(--md-sys-color-secondary-dark);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
	--md-sys-color-error: var(--md-sys-color-error-dark);
	--md-sys-color-on-error: var(--md-sys-color-on-error-dark);
	--md-sys-color-error-container: var(--md-sys-color-error-container-dark);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
	--md-sys-color-outline: var(--md-sys-color-outline-dark);
	--md-sys-color-background: var(--md-sys-color-background-dark);
	--md-sys-color-on-background: var(--md-sys-color-on-background-dark);
	--md-sys-color-surface: var(--md-sys-color-surface-dark);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
}

.light-theme {
	--md-sys-color-primary: var(--md-sys-color-primary-light);
	--md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
	--md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
	--md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
	--md-sys-color-secondary: var(--md-sys-color-secondary-light);
	--md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
	--md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
	--md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
	--md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
	--md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
	--md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
	--md-sys-color-error: var(--md-sys-color-error-light);
	--md-sys-color-on-error: var(--md-sys-color-on-error-light);
	--md-sys-color-error-container: var(--md-sys-color-error-container-light);
	--md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
	--md-sys-color-outline: var(--md-sys-color-outline-light);
	--md-sys-color-background: var(--md-sys-color-background-light);
	--md-sys-color-on-background: var(--md-sys-color-on-background-light);
	--md-sys-color-surface: var(--md-sys-color-surface-light);
	--md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
	--md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
	--md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
	--md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
	--md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
}